{% extends "base.html" %}
{% block title %}
Murthy P G - Internship
{% endblock %}

{% block body %}
<div class="container">
    <div class="section-title mt-5">
        <h2>Please Fill Out Your Details Carefully</h2>
    </div>
    {% for message in messages %}

    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endfor %}
    <div class="col-lg-9 mt-4 mt-lg-0 d-flex align-items-stretch ms-lg-5">
        <form action="/internshipdetails/" method="post" role="form" class=" w-100 p-4 shadow " novalidate
            autocomplete="off">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-md-6 mb-5">
                    <label for="name" class="mb-2"><i class="fa-solid fa-signature"></i> Full Name</label>
                    <input type="text" name="name" class="form-control" id="name" required placeholder="Your name">
                </div>
                <div class="form-group col-md-6 mb-4">
                    <label for="name" class="mb-2"><i class="fa-solid fa-envelope"></i> Email</label>
                    <input type="email" class="form-control" name="email" id="email" required placeholder="Your email">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-4">
                    <label for="name" class="mb-2"><i class="fa-solid fa-arrow-up-9-1"></i> USN</label>
                    <input type="text" name="usn" class="form-control" id="name" required placeholder="Your USN">
                </div>
                <div class="form-group col-md-6 mb-4">
                    <label for="name" class="mb-2"><i class="fa-solid fa-graduation-cap"></i> College Name</label>
                    <input type="text" class="form-control" name="clg_name" id="email" required
                        placeholder="College Name">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-4">
                    <label for="name" class="mb-2"><i class="fa-regular fa-calendar-days"></i> Start Date</label>
                    <input type="date" name="startdate" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6 mb-4">
                    <label for="name" class="mb-2"><i class="fa-regular fa-calendar-days"></i> End Date</label>
                    <input type="date" class="form-control" name="enddate" id="email" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-4">
                    <label for="name" class="mb-2"><i class="fa-solid fa-question"></i> Did you received offer
                        lettter</label>
                    <input type="text" name="offer" class="form-control" id="offer" required placeholder="Yes / No">
                </div>
                <div class="form-group col-md-6 mb-4">
                    <label for="name" class="mb-2"><i class="fa-solid fa-question"></i> Do you want project and
                        report</label>
                    <input type="text" class="form-control" name="projreport" placeholder="Yes / No" required>
                </div>
            </div>
            <!-- <div class="form-group mb-4">
                <label for="name" class="mb-3"> Your Email</label>
                <input type="email" class="form-control"  name="email" id="subject"
                    required>
            </div> -->
            <!-- <div class="form-group mb-5">
                <label for="name" class="mb-3"><i class="fa-solid fa-question"></i> How can i help you?</label>
                <textarea class="form-control" name="description" rows="10" required></textarea>
            </div> -->
            <div class="text-center "><button type="submit" class="btn btn-dark"
                    style="height: 40px;border: none; outline: none;width: 130px;">Submit</button></div>
        </form>
    </div>
</div>
{% endblock %}