{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% block title %}
Murthy P G - Sign In
{% endblock %}

{% block body %}

<div class="container mt-4">
    <br><br><br><br>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3 class="text-white bg-dark text-center p-3">Sign In</h3>
            {% for message in messages %}
           
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
               
            {% endfor %}
            <div class="card p-2 mt-3">
                <form action="/auth/signin/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <h5><span><i class="fa-solid fa-envelope"></i> Email</span></h5>
                        <input type="email" name="email" class="form-control mb-4" placeholder="Email" required>
                    </div>
                    <div class="form-group ">
                        <h5><span><i class="fa-solid fa-lock"></i> Password</span></h5>
                        <input type="password" name="password" class="form-control mb-4" placeholder="Passsword" required>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-dark" type="submit"><h5>SignIn</h5></button>
                    </div>
                    <br>
                    New User ? <a href="/auth/signup">SignUp</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login with&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% provider_login_url 'google' %}"><img src="{% static 'assets/img/google.png' %}" alt="" style="width: 40px;height: 40px; border-radius: 50%;"></a>
                </form>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

</div>


{% endblock %}